PROJECT NAME : REPORT-IT

-- Project Info --

- Sync Reporting Model //
- Parameters : Name, Project Number, Customer name, Work Done, (Multiple entries). //
- Filtering by Parameters 
- Integrate Whatsapp messaging API for sending reports to Admin
- Geolocation tracking of field agents
- Extract data to google sheets, or csv //

 
 -- Authentication--

- User Authentication (Login, Logout) //
- User Registration (Sign Up) //
- User Roles (Admin, Field Agent, Manager) //
- Password Reset (Forgot Password) 
- Two-Factor Authentication (Optional)
- User Profile Management (Update Profile, Change Password)
- User Activity Logs (Track user actions within the app) //
- Session Management (Timeout, Logout on inactivity) //


Core : 

- App download from personal website(otp verification)
- Employee code for user verification
- Dashboard for user(display neme date etc)
- automatic location capture